* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

input[type='submit'], button {
  cursor: pointer;
  border: none;
  outline: none;
}

p {
  margin-top: 0;
}
