.countdown {
  height: 3em;
  margin: 0 auto 1em auto;
  &__text {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.lights {
  &__light {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border-radius: 50%;
    transition: 0.3s;

    &:nth-child(1) { background-color: #c2a0a0; }
    &:nth-child(2) { background-color: #d1ceab; }
    &:nth-child(3) { background-color: #a4b99e; }

    &--active {
      transform: translateY(-2px);
      &:nth-child(1) { background-color: #e31818; }
      &:nth-child(2) { background-color: #fbb90f; }
      &:nth-child(3) { background-color: #4acd1c; }
    }
  }
}
