.game-container {
  margin: 2rem auto;
  max-width: 800px;
}

.game {
  margin-bottom: 1em;
  &__text-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
  }
  &__text {
    margin-bottom: 2rem;
    line-height: 2rem;
    &--typed {
      background-color: yellow;
    }
  }
  &__timer {
    height: 3em;
  }
  &__input {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 2em;
    background-color: #f0f0f0;
    padding: 0.5em;
    &--mistake {
      background-color: #eec4c4;
    }
  }
  &__join-btn {
    margin-top: 2rem;
  }
}

.share {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  &__text {
    margin-bottom: 0.5em;
  }
  &__url {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 1.5em;
    background-color: #f0f0f0;
    padding: 0.5em;
  }
}
