@import "_base";
@import "_game";
@import "_countdown";
@import "_players";
@import "_welcome";

.home {
  margin-left: 2rem;
  &__create-room {
    margin-top: 1em;
  }
}

.btn {
  background-color: #4254ff;
  padding: 0.45em 1em;
  height: 2em;
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
    background-color: #2336e8;
    transition: 0.2s;
  }
  &--orange {
    background-color: #e34242;
    &:hover {
      background-color: #b53b3b;
    }
  }
  &--green {
    background-color: #20bd2f;
    &:hover {
      background-color: #137d30;
    }
  }
}


.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 1em;
  &__title {
    align-self: center;
    margin: 0;
  }
  &__nav {
    li {
      list-style: none;
    }
  }
}

.welcome {
  margin-bottom: 0;
}

.error {
  background-color: #fadfdd;
  border: 1px solid #f4aba3;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.login-register {
  background-color: white;
  width: 500px;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  text-align: left;
  margin-top: 1em;
  &__title {
    margin: 0;
    margin-bottom: 0.5em;
  }
  &__input {
    display: block;
    width: 100%;
    border: 1px solid #c2c2c2;
    margin-bottom: 0.5em;
    height: 2em;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    &:focus {
      border: 1px solid #878787;
      transition: 0.2s;
    }
  }
  &__submit {
    margin-right: 0.3em;
  }
  &__toggle {
    cursor: pointer;
    text-decoration: underline;
  }
}
